<!DOCTYPE html>
<html>
<head>
	<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.1.min.js"></script>
    <script src="public/javascript/script.js"></script>
    <title>Welcome to the Gumball Machine (New Improved Version)</title>
</head>

<body>
<h1 align="center">Welcome to the Gumball Machine</h1>

<!-- FORM SECTION -->
    <p>
    <input type="hidden" name="state" id="state" value="<%= state %>" />
    <input type="hidden" name="model" id="model" value="<%= model %>" />
    <input type="hidden" name="serial" id="serial" value="<%= serial %>" />
    <input type="hidden" name="hash" id="hash" value="<%= hash %>" />
    
    <div style="float:left;padding-left:100px;" >
    	<img src="public/images/gumballMachine.jpg" />
    	<p>
	        <input type="button" name="event" onClick="process('insertQuarter')" id="btnInsertQuarter" value="Insert Quarter">
	        &nbsp;&nbsp;&nbsp;&nbsp;
	        <input type="button" name="event" onClick="process('turnCrank')" id="btnTurnCrank" value="Turn Crank">
    	</p>
    </div>
    <div align="center">
        <textarea name="message" cols="50" rows="15" readonly id="message">
            Gumball Machine Operation Status : <%= status %>
            Gumball Machine State : <%= state %>
            Gumball Machine Model Number : <%= model %>
            Gumball Machine Serial Number : <%= serial %>
        </textarea>
    </div>
</p>
</body>
</html>